* {
    border-radius: 0 !important;
}

body {
    font-family: Ubuntu, 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.sidebar {
    min-width: 200px;
    max-width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1029;
    background: #c6dedd;
    overflow: hidden;
}

.sidebar ul {
    margin-top: 20px;
    padding-left: 10px;
    list-style: none !important;
}

.sidebar ul li a {
    font-size: 14px;
    color: #333;
    padding: 15px;
    display: block;
}

.sidebar ul li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.sidebar ul li:last-child a {
    color: #666;
    font-size: 12px;
    padding-left: 0px;
}

.sidebar ul li img {
    margin-right: 10px;
    vertical-align: -5px;
}

.sidebar ul li a:hover {
    color: #000;
}

.sidebar ul li.active > a {
    color: #800;
    font-weight: bolder;
}

.header {
    padding: 0 20px;
}

.top-header .box {
    margin-top: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.content {
    width: calc(100% - 200px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    right: 0;
    margin-bottom: 50px;
    background: #fafafa
}

#yield {
    padding: 0 20px;
}

.badge {
    border-radius: 10px !important;
}

.list-group-item.active, .list-group-item.active:hover {
    background-color: inherit;
    border-color: #ddd;
    font-weight: bold;
    color: #000;
}

.icon {
    padding-bottom: 4px;
    margin-right: 8px;
    vertical-align: middle;
}

.navbar-default {
    background-color: #dff0d8;
}

.navbar-nav > .active > a {
    border-bottom: 2px solid #800;
    font-weight: bold;
    color: #800 !important;
    background-color: inherit !important;
}

.add-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 60px;
    bottom: 50px;
    z-index: 9999;
    border-radius: 50% !important;
    background-color: #ddd;
    line-height: 51px;
    padding: 0 0 0 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.add-btn img {
    padding-left: 10px;
}

.btn {
    border-radius: 8px !important;
}

.search {
    background-color: #c6dedd;
    border-radius: 0 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.table .btn {
    padding: 1px 10px;
}